<!-- INICIO CONTAINER SLIDE  -->
<div class="container-slide fondo">
  <!-- INICIO CONTAINER  -->
  <div class="container app-contenedor-dos">
    <div class="panel-header header">
        <h3 class="app-font-style-titulo ">¿Qui&eacute;nes somos?</h3>
      </div>

    <div class="panel-body fondo-dos">
    <p class="app-font-style-texto">
    {{quienessomos}}
    </p>
    <h4 class="app-font-style-titulo-dos"><ins>Integrantes del equipo Comeat</ins></h4>

        <!-- item -->
            <div class="col-md-4 text-center" ng-repeat="foto in pictures">
              <div class="panel panel-comeat panel-pricing ">
                <div class="panel-heading">
                  <h3>{{foto.titulo}}</h3>

                  <img class="img-circle" ng-src="{{foto.url}}">
                </div>
                <ul class="list-group text-center">

                  <li class="list-group-item"><i class="fa fa-check"></i>{{foto.texto}}</li>

                </ul>
              </div>
            </div>
            <!-- /item -->
    </div>
  </div>
  <!-- FIN CONTAINER  -->
</div>
<!-- FIN CONTAINER SLIDE  -->
