<!-- FIN CONTAINER SLIDE 1-->
<!-- INICIO CONTAINER SLIDE 2 -->
<div class="container-slide fondo">
  <!-- INICIO CONTAINER Contacto -->
    <div class="container app-contenedor-dos">
      <div class="panel-header header">
        <p>
          <h2 class="app-font-style-titulo"></span> Por favor complete el siguiente formulario.</h2>
        </p>
      </div>

      <div class="panel-body fondo-dos">

      <!-- Inicio de formulario -->
      <form   id="formularioContacto"  name="formularioContacto">
      <!-- inicio grupo 1 -->
        <div class="col-xs-12 col-md-4 fondo-dos">
        <!-- Nombres -->
          <div class="form-group" ng-class="{'has-error':formularioContacto.nombres_txt.$invalid && formularioContacto.nombres_txt.$touched}" >
            <label for="nombres_contacto">Nombres:</label>
            <input type="text" minlength="2" maxlength="30" class="form-control" id="nombres_txt" name="nombres_txt" placeholder="Ingrese sus nombres" ng-model="datos.nombres" ng-required="true" />



            <span class="help-block" ng-if="formularioContacto.nombres_txt.$error.minlength ">El campo requerido es demasiado corto.</span>
            <span class="help-block" ng-if="formularioContacto.nombres_txt.$error.maxlength">El campo requerido es demasiado largo.</span>
            <span ng-if="formularioContacto.nombres_txt.$invalid && formularioContacto.nombres_txt.$touched" class="help-block">Por favor complete el campo Nombres.</span>
          </div>




        <!-- Apellidos -->
          <div class="form-group" ng-class="{'has-error':formularioContacto.apellidos_txt.$invalid && formularioContacto.apellidos_txt.$touched}" >
            <label for="nombres_contacto">Apellidos:</label>
            <input type="text" minlength="2" maxlength="30" class="form-control" id="apellidos_txt" name="apellidos_txt" placeholder="Ingrese sus apellidos" ng-model="datos.apellidos" ng-required="true" />


            <span class="help-block" ng-if="formularioContacto.apellidos_txt.$error.minlength ">El campo requerido es demasiado corto.</span>
            <span class="help-block" ng-if="formularioContacto.apellidos_txt.$error.maxlength">El campo requerido es demasiado largo.</span>
            <span ng-if="formularioContacto.apellidos_txt.$invalid && formularioContacto.apellidos_txt.$touched" class="help-block">Por favor complete el campo Apellidos.</span>
          </div>


        <!-- Razon social -->
          <div class="form-group" ng-class="{'has-error':formularioContacto.razon_txt.$invalid && formularioContacto.razon_txt.$touched}" >
            <label for="nombres_contacto">Raz&oacute;n social:</label>
            <input type="text" minlength="2" maxlength="30" class="form-control" id="razon_txt" name="razon_txt" placeholder="Raz&oacute;n social" ng-model="datos.razon" ng-required="true" />


            <span class="help-block" ng-if="formularioContacto.razon_txt.$error.minlength ">El campo requerido es demasiado corto.</span>
            <span class="help-block" ng-if="formularioContacto.razon_txt.$error.maxlength">El campo requerido es demasiado largo.</span>
            <span ng-if="formularioContacto.razon_txt.$invalid && formularioContacto.razon_txt.$touched" class="help-block">Por favor complete el campo Raz&oacute;n social.</span>
          </div>

        <!-- Email -->
         <div class="form-group" ng-class="{'has-error':formularioContacto.email_txt.$invalid && formularioContacto.email_txt.$touched}" >
            <label for="email_contacto">Correo electr&oacute;nico:</label>
            <input type="email" required minlength="6" maxlength="50" class="form-control" id="email_txt" placeholder="ejemplo@domino.cl" ng-model="datos.email" name="email_txt">


            <span class="help-block" ng-if="formularioContacto.email_txt.$error.minlength ">El campo requerido es demasiado corto.</span>
            <span class="help-block" ng-if="formularioContacto.email_txt.$error.maxlength">El campo requerido es demasiado largo.</span>
            <span ng-if="formularioContacto.email_txt.$invalid && formularioContacto.email_txt.$touched" class="help-block">Por favor complete debidamente el campo Correo electr&oacute;nico.</span>
          </div>

        </div>


      <!-- inicio grupo 2 -->
        <div class="col-xs-12 col-md-4 fondo-dos">
        <!-- Telefono -->
          <div class="form-group" ng-class="{'has-error':formularioContacto.telefono_txt.$invalid && formularioContacto.telefono_txt.$touched}" >
            <label for="telefono_contacto">Tel&eacute;fono:</label>
            <input type="text" minlength="6" maxlength="15" class="form-control" id="telefono_txt" name="telefono_txt" placeholder="N&uacute;mero de tel&eacute;fono" ng-model="datos.telefono" />

          </div>


        <!-- Celular -->
          <div class="form-group" ng-class="{'has-error':formularioContacto.celular_txt.$invalid && formularioContacto.celular_txt.$touched}" >
            <label for="celular_txt">Celular:</label>
            <input type="text" minlength="6" maxlength="15" class="form-control" id="telefono_txt" name="celular_txt" placeholder="N&uacute;mero de tel&eacute;fono" ng-model="datos.celular"  />

          </div>

          <!-- Asunto -->
          <div class="form-group" ng-class="{'has-error':formularioContacto.asunto_txt.$invalid && formularioContacto.asunto_txt.$touched}" >
            <label for="asunto_form">Asunto:</label>
            <input type="text" minlength="2" maxlength="30" class="form-control" id="asunto_txt" name="asunto_txt" placeholder="Asunto" ng-model="datos.asunto" ng-required="true" />


            <span class="help-block" ng-if="formularioContacto.asunto_txt.$error.minlength ">El campo requerido es demasiado corto.</span>
            <span class="help-block" ng-if="formularioContacto.asunto_txt.$error.maxlength">El campo requerido es demasiado largo.</span>
            <span ng-if="formularioContacto.asunto_txt.$invalid && formularioContacto.asunto_txt.$touched" class="help-block">Por favor complete el campo Asunto.</span>
          </div>

        </div>

      <!-- inicio grupo 3 -->
      <div class="col-xs-12 col-md-4 fondo-dos">
      <!-- MENSAJE -->

      <div class="form-group" ng-class="{'has-error':formularioContacto.mensaje_txt.$invalid && formularioContacto.mensaje_txt.$touched}" >
            <label for="mensaje_form">Mensaje:</label>
            <textarea class="formulario-area"  placeholder="Mensaje..."  maxlength="350" minlength="4" name="mensaje_txt" id="mensaje_txt" ng-required="true" ng-model="datos.mensaje"></textarea>


            <span class="help-block" ng-if="formularioContacto.mensaje_txt.$error.minlength ">El campo requerido es demasiado corto.</span>
            <span class="help-block" ng-if="formularioContacto.mensaje_txt.$error.maxlength">El campo requerido es demasiado largo.</span>
            <span ng-if="formularioContacto.mensaje_txt.$invalid && formularioContacto.mensaje_txt.$touched" class="help-block">Por favor complete debidamente el campo Mensaje.</span>
          </div>


          <input type="submit" id="btnContacto" class="btn btn-warning"  value="Enviar" ng-click="enviarDatosFormulario(datos)"/>
      </div>
    </form>

        <!-- FIN GRUPO -->
      </div>
      <div class="panel-footer">

      </div>
    </div>
  <!-- FIN CONTAINER Contacto -->
</div>
<!-- FIN CONTAINER SLIDE 2 -->
