<!-- INICIO CONTAINER SLIDE 1-->
<div class="fondo">
<!-- INICIO CONTAINER SALUDO -->
    <div class="container app-contenedor">
      <div class="row">
        <div class="col-xs-12">

          <div class="jumbotron app-font-style-titulo fondo-dos">
  <h1>Cont&aacute;ctanos.</h1>


  <div class="clearfix"></div>
  <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>-->
</div>

        </div>
      </div>
    </div>

  <!-- FIN CONTAINER SALUDO -->
</div>
  <!-- FIN CONTAINER SLIDE 1-->
