<!-- INICIO FOOTER -->
<div class="navbar app-navbar navbar-fixed-bottom app-lista-redsocial">
  <div class="app-footer-bot ">
    <ul class="app-lista-redsocial">
      <li>Siguenos en:
      <a href="https://www.facebook.com/ComeatCL" target="_blank" class="app-link-facebook">
      <span class="icon-facebook"></span></a></li>

      <li><a href="https://www.facebook.com/ComeatCL" target="_blank" class="app-link-twitter">
      <span class="icon-twitter"></span></a></li>

      <li><a href="https://www.facebook.com/ComeatCL" target="_blank" class="app-link-youtube">
      <span class="icon-youtube"></span></a></li>
    </ul>
  </div>

</div>
<!-- FIN FOOTER -->
