<div class="container-fluid sliderPrincipal">

    <carousel interval="setInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img class=" img-responsive" ng-src="{{slide.image}}" alt="Imagen">
        <div class="carousel-caption">
          <div class="row">
            <div class="col-xs-12 col-sm-12">
                      <h4>{{slide.title}}</h4>
            </div>
            <div class="hidden-xs col-sm-12">
              <p>{{slide.text}}</p>
            </div>
          </div>
        </div>
      </slide>
    </carousel>
</div>

  <div data-ng-include src=" 'views/index/saludo.html' "></div>

    <div data-ng-include src=" 'views/index/screen.html' "></div>

    <div data-ng-include src=" 'views/index/videos.html' "></div>

    <div data-ng-include src=" 'views/index/planes.html' "></div>
