<!-- INICIO CONTAINER SLIDE 1-->
<div class="container-slide fondo">
<!-- INICIO CONTAINER SALUDO -->
    <div class="container app-contenedor">
      <div class="row">
        <div class="col-xs-12">

          <div class="jumbotron app-font-style-titulo fondo-dos">
  <h1>Bienvenido a Comeat!</h1>

  <!-- INICIO ITEM -->
  <div class="col-xs-12 col-md-4">
  <img src="images/menu.png" class="img-centrada" alt="Innovamos">
 <a href="http://www.facebook,com"> <p class="app-font-style-titulo-dos">Innovamos en la manera de utilizar y gestionar sus cartas men&uacute;.</p></a>
  </div>

  <!-- FIN ITEM -->

  <!-- INICIO ITEM -->
  <div class="col-xs-12 col-md-4">
  <img src="images/informe.png" class="img-centrada" alt="Informes">
  <p class="app-font-style-titulo-dos">Obtenga informes detallados sobre los productos m&aacute;s solicitados.</p>
  </div>
  <!-- FIN ITEM -->

  <!-- INICIO ITEM -->
  <div class="col-xs-12 col-md-4">
  <img src="images/mapa.png" class="img-centrada" alt="GPS">
  <p class="app-font-style-titulo-dos">Su local podr&aacute; ser visto por todos los usuarios Comeat.</p>
  </div>
  <!-- FIN ITEM -->
  <div class="clearfix"></div>
  <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>-->
</div>

        </div>
      </div>
    </div>

  <!-- FIN CONTAINER SALUDO -->
</div>

<!-- FIN CONTAINER SLIDE 1-->
