<!-- INICIO CONTAINER SLIDE 3 -->
<div class="container-slide fondo">
<!-- INICIO CONTAINER 3 -->
  <div class="container app-contenedor-dos">

      <div class="panel-header header">
        <h3 class="app-font-style-titulo "><span class="glyphicon glyphicon-film"></span> Videos demostrativos <span class="glyphicon glyphicon-film" ></span></h3>
      </div>
      <div class="panel-body fondo-dos">
        <div class="col-xs-12 col-md-6">
              <div class="panel panel-comeat">
                <h4 class="app-font-style-texto"><span class="glyphicon glyphicon-list-alt"></span> ¿Qu&eacute; es Comeat? </h4>

                <!-- INICIO VIDEO -->
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kA5Wc1_Zghk" allowfullscreen>
                  </iframe>
                </div>
                <!-- FIN VIDEO -->
                <!-- Inicio Texto -->
                <p class="app-font-style-texto">
                  <span class="glyphicon glyphicon-menu-right app-color-marcador"></span> Para obtener m&aacute;s informaci&oacute;n de la aplicaci&oacute;n Comeat, haga click <a class="app-href " href="#">Aqu&iacute;.</a>
                </p>
                <!-- Fin Texto -->
              </div>
            </div>


            <div class="col-xs-12 col-md-6">
              <div class="panel panel-comeat">
                <h4 class="app-font-style-texto"><span class="glyphicon glyphicon-user"></span> Comeat en ejecuci&oacute;n: </h4>
                <!-- INICIO VIDEO -->
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jvipPYFebWc" allowfullscreen>
                  </iframe>
                </div>
                <!-- FIN VIDEO -->
                <!-- Inicio Texto -->
                <p class="app-font-style-texto">
                  <span class="glyphicon glyphicon-menu-right app-color-marcador"></span> Para obtener m&aacute;s informaci&oacute;n de la aplicaci&oacute;n Comeat, haga click <a class="app-href " href="#">Aqu&iacute;.</a>
                </p>
                <!-- Fin Texto -->
              </div>
            </div>
      </div>
  </div>
  <!-- FIN CONTAINER 3 -->
</div>
<!-- FIN CONTAINER SLIDER 3-->
