<!-- INICIO CONTAINER SLIDE  -->
<div class="container-slide fondo">
  <!-- INICIO CONTAINER  -->
  <div class="container app-contenedor-dos">
    <div class="panel-header header">
        <h3 class="app-font-style-titulo ">¿Qui&eacute;nes somos?</h3>
      </div>

    <div class="panel-body fondo-dos">
    <p class="app-font-style-texto">
    {{introduccion}}
    </p>

       <!-- item -->
            <div class="col-md-4 text-center">
              <div class="panel panel-bronce panel-pricing ">
                <div class="panel-heading">
                  <h3>Plan Bronce</h3>
                  <img src="images/bronce.png" alt="medalla de bronce">
                </div>

                <ul class="list-group text-center">
                  <li class="list-group-item"><i class="fa fa-check"></i> Integraci&oacute;n a red social Comeat.</li>
                  <li class="list-group-item"><i class="fa fa-check"></i> Realizar pedidos a trav&eacute;s del Men&uacute; virtual.</li>
                  <li class="list-group-item"><i class="fa fa-check"></i> Instalaci&oacute;n gratuita de 8 t&oacute;tems Comeat(C&oacute;digo QR + Chip).</li>
                  <li class="list-group-item"><i class="fa fa-check"></i> Integraci&oacute;n a mapa de b&uacute;squeda por medio de aplicaci&oacute;n m&oacute;vil.</li>
                </ul>

              </div>
            </div>
            <!-- /item -->
            <!-- item -->
            <div class="col-md-4 text-center">
              <div class="panel panel-plata panel-pricing ">
                <div class="panel-heading">
                  <h3>Plan Plata</h3>
                  <img src="images/plata.png" alt="medalla de plata">
                </div>
                <ul class="list-group text-center">
                  <li class="list-group-item"><i class="fa fa-check"></i> Integraci&oacute;n a red social Comeat.</li>
                  <li class="list-group-item"><i class="fa fa-check"></i> Realizar pedidos a trav&eacute;s del Men&uacute; virtual.</li>
                  <li class="list-group-item"><i class="fa fa-check"></i> Instalaci&oacute;n gratuita de 8 t&oacute;tems Comeat(C&oacute;digo QR + Chip).</li>
                  <li class="list-group-item"><i class="fa fa-check"></i> Integraci&oacute;n a mapa de b&uacute;squeda por medio de aplicaci&oacute;n m&oacute;vil.</li>
                </ul>
              </div>
            </div>
            <!-- /item -->
            <!-- item -->
            <div class="col-md-4 text-center">
              <div class="panel panel-oro panel-pricing ">
                <div class="panel-heading">
                  <h3>Plan Oro</h3>
                  <img src="images/Oro.png" alt="medalla de Oro">
                </div>
                <ul class="list-group text-center">
                  <li class="list-group-item"><i class="fa fa-check"></i> Integraci&oacute;n a red social Comeat.</li>
                  <li class="list-group-item"><i class="fa fa-check"></i> Realizar pedidos a trav&eacute;s del Men&uacute; virtual.</li>
                  <li class="list-group-item"><i class="fa fa-check"></i> Instalaci&oacute;n gratuita de 8 t&oacute;tems Comeat(C&oacute;digo QR + Chip).</li>
                  <li class="list-group-item"><i class="fa fa-check"></i> Integraci&oacute;n a mapa de b&uacute;squeda por medio de aplicaci&oacute;n m&oacute;vil.</li>
                </ul>
              </div>
            </div>
            <!-- /item -->
            <div class="clearfix"></div>
            <a href="#/contacto" class="btn btn-warning btn-lg btn-block">Para solicitar uno de nuestros planes, por favor cont&aacute;ctenos.</a>
    </div>
  </div>
  <!-- FIN CONTAINER  -->
</div>
<!-- FIN CONTAINER SLIDE  -->
