<!-- INICIO CONTAINER SLIDE  -->
<div class="container-slide fondo">
  <!-- INICIO CONTAINER  -->
  <div class="container app-contenedor-dos">
    <div class="panel-header header">
        <h3 class="app-font-style-titulo ">Iniciar sesi&oacute;n</h3>
    </div>

    <div class="panel-body fondo-dos">
      <div class="col-xs-12 col-md-6 panel panel-comeat">

        <div class="panel-header app-font-style-titulo-dos">Iniciar sesi&oacute;n</div>



        <!-- Inicio de formulario -->
        <form   id="formularioLogin"  name="formularioLogin">
         <!-- Email -->
          <div class="form-group" ng-class="{'has-error':formularioLogin.username_txt.$invalid && formularioLogin.username_txt.$touched}" >
            <label for="asunto_form">Usuario:</label>
            <input type="email" minlength="6" maxlength="30" class="form-control" id="username_txt" name="username_txt" placeholder="Ingrese su email" ng-model="login.username" ng-required="true" />


            <span class="help-block" ng-if="formularioLogin.username_txt.$error.minlength ">El campo requerido es demasiado corto.</span>
            <span class="help-block" ng-if="formularioLogin.username_txt.$error.maxlength">El campo requerido es demasiado largo.</span>
            <span ng-if="formularioLogin.username_txt.$invalid && formularioLogin.username_txt.$touched" class="help-block">Por favor ingrese su email.</span>
          </div>

          <!-- Password -->
          <div class="form-group" ng-class="{'has-error':formularioLogin.pass_txt.$invalid && formularioLogin.pass_txt.$touched}" >
            <label for="nombres_contacto">Contrase&ntilde;a:</label>
              <input type="password" minlength="4" maxlength="30" class="form-control" id="pass_txt" name="pass_txt" placeholder="Contrase&ntilde;a" ng-model="login.password" ng-required="true" />

              <span class="help-block" ng-if="formularioLogin.pass_txt.$error.minlength ">El campo requerido es demasiado corto.</span>

              <span class="help-block" ng-if="formularioLogin.pass_txt.$error.maxlength">El campo requerido es demasiado largo.</span>

              <span ng-if="formularioLogin.pass_txt.$invalid && formularioLogin.pass_txt.$touched" class="help-block">Por favor complete debidamente el campo Contrase&ntilde;a.</span>
              <br>
          </div>
            <div class="col-xs-12 col-xs-push-3">
                  <input type="submit" id="btnContacto" class="btn btn-warning"  value="Iniciar sesi&oacute;n" ng-click="enviarDatosFormulario(datos)"/>
                  </form>
            </div>
          </div>

      <!-- Inicio panel registro -->

      <div class="col-xs-12 col-md-6  panel panel-comeat">
      <div class="panel-header app-font-style-titulo-dos">¿No est&aacute;s registrado?</div>

      <!-- Inicio de formulario -->
      <form   id="formularioRegistro"  name="formularioRegistro">

        <!-- Nombre -->
          <div class="form-group" ng-class="{'has-error':formularioRegistro.nombres_txt.$invalid && formularioRegistro.nombres_txt.$touched}" >
            <label for="asunto_form">Nombres:</label>
            <input type="text" minlength="2" maxlength="30" class="form-control" id="nombres_txt" name="nombres_txt" placeholder="Ingrese su nombre" ng-model="registro.nombres" ng-required="true" />


            <span class="help-block" ng-if="formularioRegistro.nombres_txt.$error.minlength ">El campo requerido es demasiado corto.</span>

            <span class="help-block" ng-if="formularioRegistro.nombres_txt.$error.maxlength">El campo requerido es demasiado largo.</span>

            <span ng-if="formularioRegistro.nombres_txt.$invalid && formularioRegistro.nombres_txt.$touched" class="help-block">Por favor ingrese su nombre.</span>

          </div>


          <div class="col-xs-12 col-xs-push-3">
                  <input type="submit" id="btnContacto" class="btn btn-success"  value="Registrarse" ng-click="enviarDatosFormulario(datos)"/>

            </div>
      </form>
      </div>


  <!-- FIN CONTAINER  -->
</div>
<!-- FIN CONTAINER SLIDE  -->
